html{
  background-color:beige;
  }
a:link{
  color: purple;
}
a:visited{
  color:pinnk;
}
a:hover{
  color: red;
}
a:active{
  color:blue;
}
header, footer{
  background-color: tan;
  text-align: center;
}
main{
  background-color: beige;
  margin: 20px*40px;
  padding: 40px*40px;
  text-align: center;
}
h{
  font-family: Aial;
}
div{
  margin-bottom: 10px;
}
main li{
  list-style-position: inside;
  font-family: Arial;
  font-size: 12px;
  line-height: 22px;
}
img{
 width : 450px; 
}
